
@font-face {
  font-family: "Geist";
  src: url("Geist/Geist/Geist-UltraBlack.woff2");
}
@font-face {
  font-family: "Bigger";
  src: url("Geist/Geist/BiggerDisplay.otf");
}
@font-face {
  font-family: "GeistRegular";
  src: url("Geist/Geist/Geist-Regular.woff2");
}
body{
  font-family: 'Geist';
}
#bigger{
  font-family: 'Bigger';
}
button:hover #bigger{
  transform: scale(1.3);
}
#geistregular{
  font-family: 'GeistRegular';
}
#geist{
  font-family: 'Geist';
}
